/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}



/* Header */
#header {
  cursor: default;
  font-size: 1.25em;
  height: 4.5em;
  left: 0;
  line-height: 4.4em;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 10000;
  z-index: 10001;
}

#header nav {
  height: inherit;
  line-height: inherit;
  position: absolute;
  right: 1.25em;
  top: 0;
  vertical-align: middle;
}

#header nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#header nav ul li {
  border-radius: 4px;
  display: inline-block;
  margin-left: 2.5em;
  padding-left: 0;
}

#header nav ul li a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #666;
  display: inline-block;
  text-decoration: none;
}

#header nav ul li a:hover {
  color: #484848;
}

#header nav ul li:first-child {
  margin-left: 0;
}

#header nav ul li .button {
  border-color: rgba(144, 144, 144, 0.25);
  box-shadow: none;
  height: 3em;
  line-height: 2.9em;
  margin-bottom: 0;
  padding: 0 1.5em;
  position: relative;
  top: -0.075em;
  vertical-align: middle;
}



#header.alt {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  height: 3.25em;
  line-height: 3.25em;
  position: absolute;
}



#header.alt nav {
  right: 2em;
  top: 2em;
}

#header.alt nav a {
  color: #ddd;
}

#header.alt nav a:active, #header.alt nav a:hover {
  color: #FFF;
}

#header.alt .button {
  border-color: rgba(255, 255, 255, 0.5);
  color: #ffffff !important;
}

@media screen and (max-width: 980px) {
  #header {
    display: none;
  }
}

/* Banner */


#banner {
  padding: 16em 0 13em 0;
  background-attachment: fixed;
  background-image: url("images/overlay.png"), url("images/banner5.jpg");
  background-position: center top;
  background-size: cover;
  line-height: 1.75;
  text-align: center;
}

#banner:last-child {
  margin-bottom: 0;
}

#banner h2 {
  color: #ffffff;
  display: inline-block;
  font-size: 3.5em;
  line-height: 1.35;
  margin-bottom: 0.5em;
}

#banner p {
  color: #aaa;
  font-size: 1.5em;
  margin-bottom: 1.75em;
  text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
  #banner {
    padding: 14em 0 11em 0;
  }

  #banner h2 {
    font-size: 2.5em;
  }

  #banner img {
    width: 362px;
    height: 183px;
  }

  .logovariant {
    width: 180px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    margin: auto;
    position: relative;
  }
}

@media screen and (max-width: 980px) {
  #banner {
    padding: 9em 0 7em 0;
  }
}

@media screen and (max-width: 736px) {
  #banner {
    padding: 6em 2em 6em 2em;
  }

  #banner br {
    display: none;
  }

  #banner h2 {
    font-size: 2.25em;
  }

  #banner p {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 480px) {
  #banner {
    padding: 4em 2em 4em 2em;
  }

  #banner img {
    width: 271px;
    height: 137px;
  }
}

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #323037;
  border-radius: 4px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 3.15em;
  line-height: 3.25em;
  padding: 0 2.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: #3e3c45;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: #262429;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.35em;
}


input[type="submit"].variant,
input[type="reset"].variant,
input[type="button"].variant,
button.variant,
.button.variant {
  background-color: #7D00FF;
  color: #ffffff ;
}

input[type="submit"].variant:hover,
input[type="reset"].variant:hover,
input[type="button"].variant:hover,
button.variant:hover,
.button.variant:hover {
  background-color: #9B3AFF;
}

input[type="submit"].variant:active,
input[type="reset"].variant:active,
input[type="button"].variant:active,
button.variant:active,
.button.variant:active {
  background-color: #8300AC;
}

@media screen and (max-width: 480px) {

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    padding: 0;
  }
}

/* logo */
.logo {
  margin-top: 34px;
  margin-left: 25px;
}

/* Section/Article*/
section.special, article.special {
  text-align: center;
}

header p {
  color: #aaa;
  position: relative;
  margin: 0 0 1.5em 0;
  text-transform: uppercase;
}

header h2+p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.5em;
}

header h3+p {
  font-size: 1.1em;
  margin-top: -0.8em;
  line-height: 1.5em;
}

header h4+p,
header h5+p,
header h6+p {
  font-size: 0.9em;
  margin-top: -0.6em;
  line-height: 1.5em;
}

header.major {
  margin: 0 0 2em 0;
}

header.major h2 {
  font-size: 3em;
}

header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
  display: inline-block;
  margin: 0 0 0.8em;
}

header.major p {
  font-size: 1.5em;
  margin-bottom: 5em;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 1280px) {
  header.major h2 {
    font-size: 2.5em;
  }

  header.major p {
    font-size: 1.3em;
  }
}

@media screen and (max-widthlogo: 980px) {
  header.major h2 {
    font-size: 2em;
  }

  header.major p {
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  header.major h2 {
    font-size: 1.75em;
  }
}

/* formato copia y pega */
body {
  background-color: #fff;
  color: #666;
}

body, input, select, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 2em;
}

@media screen and (max-width: 1680px) {
  body, input, select, textarea {
    font-size: 11pt;
  }
}

@media screen and (max-width: 1280px) {
  body, input, select, textarea {
    font-size: 11pt;
  }
}

@media screen and (max-width: 980px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

a {
  text-decoration: underline;
  color: #f32853;
}

a:hover {
  text-decoration: none;
}

strong, b {
  color: #484848;
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #484848;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}
.h2r {
  text-transform: none;
}

h3 {
  font-size: 1.35em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  /*border-left: solid 4px;*/
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: solid 1px;
  font-family: monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
}

pre code {
  display: block;
  line-height: 1.75;
  padding: 1em 1.5em;
  overflow-x: auto;
}

hr {
  border: 0;
  border-bottom: solid 1px rgba(144, 144, 144, 0.25);
  margin: 2em 0;
}

hr.major {
  margin: 3em 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* blockquote */
#block1 {
  padding: 20px;
  /*	border: solid 1px; */
  margin-bottom: 120px;
  padding-bottom: 80px;
  position: relative;
  margin-left: 13px;
  border-left: solid 4px;
}

#foto1 {
  float: left;
  /*border-right: solid 4px;*/
  margin-right: 10px;
}

#boton1 {
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-top: 15px;
}

#foto2 {
  float: right;
  /*	border-left: solid 4px; */
  margin-left: 10px;
}

#boton2 {
  position: absolute;
  left: 0;
  margin-left: 30px;
  margin-top: 15px;
}

#block2 {
  padding: 20px;
  /*	border: solid 1px; */
  margin-bottom: 150px;
  padding-bottom: 80px;
  position: relative;
  margin-right: 13px;
  border-right: solid 4px;
  text-align: right;
}

.bloque {
  background: transparent;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloque2 {
  background: transparent;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fondo {
  background-attachment: scroll;
  background-image: url("images/fondo2.jpg");
  background-position: center;
  background-size: cover;
  line-height: 1.75;
}

/* Footer

#banner {
	padding: 16em 0 13em 0;
	background-attachment: fixed;
	background-image: url("images/overlay.png"), url("images/banner5.jpg");
	background-position: center top;
	background-size: cover;
	line-height: 1.75;
	text-align: center;
}
 */
#footer {
  padding: 1px 0 1px 0;
  background-attachment: fixed;
  background-image: url("images/overlay.png"), url("images/banner5.jpg");
  background-position: center;
  background-size: cover;
  line-height: 1.75;
  text-align: center;
}

#footer a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #aaa;
  text-decoration: none;
}

#footer a:active, #footer a:hover {
  color: #666;
}

#footer .piep {
  margin: 2em 0;
  padding: 0;
  text-align: center;
}

#footer .piep li {
  border-left: solid 1px;
  display: inline-block;
  list-style: none;
  margin-left: 1.5em;
  padding-left: 1.5em;
}

#footer .piep li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}



/* Menu */
.navPanelToggle {
  text-decoration: none;
  text-decoration: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}

.navPanelToggle:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

@media screen and (max-width: 980px) {
  .navPanelToggle {
    display: block;
  }
}

.navPanelToggle *:before {
  background: rgba(144, 144, 144, 0.65);
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 2.25em;
  left: 0.5em;
  line-height: 2.25em;
  position: absolute;
  text-align: center;
  top: 0.5em;
  width: 3.5em;
}

#navPanel {
  -moz-transform: translateX(-20em);
  -webkit-transform: translateX(-20em);
  -ms-transform: translateX(-20em);
  transform: translateX(-20em);
  -moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
  -ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
  transition: transform 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: #222;
  color: #fff;
  height: 100%;
  max-width: 80%;
  width: 20em;
  padding: 0.5em 1.25em;
  text-transform: uppercase;
}

#navPanel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navPanel ul li {
  padding: 0;
}

#navPanel ul li:first-child a:not(.button), #navPanel ul li:first-child span:not(.button) {
  border-top: 0;
}

#navPanel ul li a:not(.button),
#navPanel ul li span:not(.button) {
  border-top: solid 1px #555;
  color: #fff;
  display: block;
  padding: 0.75em 0;
  text-decoration: none;
}

#navPanel .close {
  text-decoration: none;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  color: #484848;
  cursor: pointer;
  display: block;
  height: 4em;
  padding-right: 1.25em;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  vertical-align: middle;
  width: 5em;
}

#navPanel .close:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#navPanel .close:before {
  width: 3em;
  height: 3em;
  line-height: 3em;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

@media screen and (max-width: 736px) {
  #navPanel .close {
    height: 4em;
    line-height: 4em;
  }
}

#navPanel.visible {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
  visibility: visible;
}
/* form */
form {
  margin: 0 0 2em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(144, 144, 144, 0.08);
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  color: inherit;
  display: block;
  outline: 0;
  padding: 1em;
  text-decoration: none;
  width: 80%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border-color: #f32853;
  box-shadow: 0 0 0 1px #f32853;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}
